<div class="page-wrapper- p-t-30- p-b-30- font-poppins-" style="background-image: url('../../../assets/css/images/bg.jpg');">
    <div class="wrapper- wrapper--w680-">
        <div class="card- card-4-">
            <div class="card-body-">
                <span class="login100-form-title p-b-30-">Registre sua conta</span>
                <form [formGroup]="cadastroForm" (ngSubmit)="submit()">
                    <div class="row- row-space-">
                        <div class="col-2-">
                            <div class="input-group-">

                                <span class="txt1">Nome Completo</span>
                                <div class="wrap-input100">
                                    <input class="input100 form-control" formControlName="nomeCompleto" type="text" placeholder="Digite seu Nome" (keypress)="keyPressName($event)" (paste)="preventDefault($event)">
                                    <span class="focus-input100"></span>
                                    <small class="text-danger" *ngIf="cadastroForm.get('nomeCompleto').hasError('required') && (cadastroForm.get('nomeCompleto').dirty || cadastroForm.get('nomeCompleto').touched)">Esse Campo é Obrigatório</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-">
                            <div class="input-group-">
                                <span class="txt1">CPF</span>
                                <div class="wrap-input100">
                                    <input class="input100 form-control" formControlName="cpf" type="text" placeholder="XXX.XXX.XXX-XX" (keypress)="keyPressNumber($event)" (paste)="preventDefault($event)">
                                    <span class="focus-input100"></span>
                                    <small class="text-danger" *ngIf="cadastroForm.get('cpf').hasError('required') && (cadastroForm.get('cpf').dirty || cadastroForm.get('cpf').touched)">Esse Campo é Obrigatório</small>
                                    <small class="text-danger" *ngIf="cadastroForm.get('cpf').hasError('maxlength')">Deve conter no máximo {{cadastroForm.get('cpf').errors.maxlength.requiredLength}} dígitos</small>
                                    <small class="text-danger" *ngIf="cadastroForm.get('cpf').hasError('minlength')">Deve conter no mínimo {{cadastroForm.get('cpf').errors.minlength.requiredLength}} dígitos</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row- row-space-">
                        <div class="col-2-">
                            <div class="input-group-">
                                <span class="txt1">Data de Nascimento</span>
                                <div class="wrap-input100">
                                    <input class="input100 form-control" formControlName="dataNascimento" type="date">
                                    <span class="focus-input100"></span>
                                    <small class="text-danger" *ngIf="cadastroForm.get('dataNascimento').hasError('required') && (cadastroForm.get('dataNascimento').dirty || cadastroForm.get('dataNascimento').touched)">Esse Campo é Obrigatório</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-">
                            <div class="input-group-">
                                <label class="txt1">Gênero</label><br>
                                    <label class="radio-container- m-r-45-">Masculino
                                        <input class="form-control" formControlName="sexo" type="radio" value="Masculino">
                                        <span class="checkmark-"></span>
                                    </label>
                                    <label class="radio-container-">Feminino
                                        <input class="form-control" formControlName="sexo" type="radio" value="Feminino">
                                        <span class="checkmark-"></span>
                                    </label>
                                    <small class="text-danger" *ngIf="cadastroForm.get('sexo').hasError('required') && (cadastroForm.get('sexo').dirty || cadastroForm.get('sexo').touched)">Esse Campo é Obrigatório</small>
                            </div>
                        </div>
                    </div>
                    <div class="row- row-space-">
                        <div class="col-2-">
                            <div class="input-group-">
                                <span class="txt1">Email</span>
                                <div class="wrap-input100">
                                    <input class="input100 form-control" formControlName="email" type="email" placeholder="seuEmail@gmail.com">
                                    <span class="focus-input100"></span>
                                    <small class="text-danger" *ngIf="cadastroForm.get('email').hasError('required') && (cadastroForm.get('email').dirty || cadastroForm.get('email').touched)">Esse Campo é Obrigatório</small>
                                    <small class="text-danger" *ngIf="cadastroForm.get('email').hasError('email')">O Email é inválido</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-">
                            <div class="input-group-">
                                <span class="txt1">Telefone</span>
                                <div class="wrap-input100">
                                    <input class="input100 form-control" formControlName="telefone" type="tel" placeholder="(DDD) 9 XXXX-XXXX" (keypress)="keyPressNumber($event)" (paste)="preventDefault($event)">
                                    <span class="focus-input100"></span>
                                    <small class="text-danger" *ngIf="cadastroForm.get('telefone').hasError('required') && (cadastroForm.get('telefone').dirty || cadastroForm.get('telefone').touched)">Esse Campo é Obrigatório</small>
                                    <small class="text-danger" *ngIf="cadastroForm.get('telefone').hasError('maxlength')">Deve conter no máximo {{cadastroForm.get('telefone').errors.maxlength.requiredLength}} dígitos</small>
                                    <small class="text-danger" *ngIf="cadastroForm.get('telefone').hasError('minlength')">Deve conter no mínimo {{cadastroForm.get('telefone').errors.minlength.requiredLength}} dígitos</small>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row- row-space-">
                        <div class="col-2-">
                            <div class="input-group-">
                                <span class="txt1">Senha</span>
                                <div class="wrap-input100">
                                    <input class="input100 form-control" formControlName="senha" type="password" placeholder="Digite sua Senha">
                                    <span class="focus-input100"></span>
                                    <small class="text-danger" *ngIf="cadastroForm.get('senha').hasError('required') && (cadastroForm.get('senha').dirty || cadastroForm.get('senha').touched)">Esse Campo é Obrigatório</small>
                                    <small class="text-danger" *ngIf="cadastroForm.get('senha').hasError('pattern')">Deve conter um número<br>Deve conter uma letra minúscula<br>Deve conter uma letra maiúscula<br></small>
                                    <small class="text-danger" *ngIf="cadastroForm.get('senha').hasError('minlength')">Deve conter no mínimo {{cadastroForm.get('senha').errors.minlength.requiredLength}} caracteres</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-">
                            <div class="input-group-">
                                <span class="txt1">Repita sua Senha</span>
                                <div class="wrap-input100">
                                    <input class="input100 form-control" formControlName="rSenha" type="password" placeholder="Repita a Senha">
                                    <span class="focus-input100"></span>
                                    <small class="text-danger" *ngIf="cadastroForm.get('rSenha').hasError('required') && (cadastroForm.get('rSenha').dirty || cadastroForm.get('rSenha').touched)">Esse Campo é Obrigatório</small>
                                    <small class="text-danger" *ngIf="cadastroForm.get('rSenha').hasError('pattern')">Deve conter um número<br>Deve conter uma letra minúscula<br>Deve conter uma letra maiúscula<br></small>
                                    <small class="text-danger" *ngIf="cadastroForm.get('rSenha').hasError('minlength')">Deve conter no mínimo {{cadastroForm.get('rSenha').errors.minlength.requiredLength}} caracteres</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-button">
                        <button class="green-button" [disabled]="cadastroForm.invalid">Registrar</button>
                    </div>
                    <div class="w-full text-center p-t-30">
                        <span class="txt2">Já tem uma conta?</span>
                        <a routerLink="/login" class="txt2 bo1"> Entrar</a>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>
